<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>
  <div class="progress" *ngIf="API.Gv.G_Running"><div class="indeterminate"></div></div>
</ion-header>


<ion-content padding>
  <div class="login-form" *ngIf="tab=='tab1'">
      <form>
          <label>Phone</label>
          <input type="text" placeholder="Enter your Phone" [(ngModel)]="item.Phone" name="Phone" />
          <button class="btn btn-primary" type="submit" (click)="send()">  Send Code</button>
      </form>
  </div>
  <div class="login-form" *ngIf="tab=='tab2'">
      <form>
        <b>check your phone no. {{Phone}} </b>
        <div class="form-group">
          <label>Code</label>
          <input type="text" [(ngModel)]="item.Code" name="Code" class="form-control">
        </div>

        <div class="form-group">
          <label>new Password</label>
          <input type="password" [(ngModel)]="item.password" name="Password" class="form-control" >
        </div>
        <div class="form-group">
          <label>confirm Password</label>
          <input type="password" [(ngModel)]="item.password2" name="Password2" class="form-control">
        </div>
        <button class="btn btn-default" type="submit" (click)="tab='tab1'">  Back</button>
        <button class="btn btn-primary" type="submit" (click)="Active()" >  Change Password</button>
      </form>
  </div>
</ion-content>
