page-login {
  .default-big-btn{margin-bottom: 0px;}
  .social-btn{width: 49%;margin: 0;}
  .fb{background: #3B5998;color: white;}
  .twitter {background: #55ACEE;color: white;}
  .google{background: #dd4b39;color: white;}
}
