
  <ion-navbar>
    <button ion-button menuToggle ><ion-icon name="menu"></ion-icon></button>


    <!-- <button type="button" ion-button float-right *ngIf="!API.Auth.loggedIn()" (click)="navCtrl.push(LoginPage)">
        <i class="fa fa-sign-in"  style="margin-right: 7px;font-size: 15px;" aria-hidden="true"></i>Login
    </button>

    <button type="button" ion-button float-right *ngIf="API.Auth.loggedIn()" (click)="API.Auth.logout()">
        <i class="fa fa-sign-out" style="margin-right: 7px;font-size: 15px;" aria-hidden="true" ></i>Logout
    </button> -->
    <ion-item-divider no-lines style="border-bottom:0px !important;background-color: transparent;">
      <!-- <img src="assets/img/logo-dark.png" style="margin: 7px;max-width: 70%;" alt="logo"> -->

            <!-- <ion-title item-start >{{GovName()}}</ion-title> -->
      <ion-icon item-end name="search" style="width: 30px;" (click)="GoSearch()" ></ion-icon>
   </ion-item-divider>
  </ion-navbar>
  <div class="progress" *ngIf="API.Gv.G_Running"><div class="indeterminate"></div></div>
