page-search {
.selectInput{width: 50%;}
.cp-search-btn{width: 100%;text-align: center;}
.header{.item-inner{
  // border-bottom:0 !important;
  border-bottom-color: white !important;
  -webkit-box-shadow: none !important;
   box-shadow:none !important;
   color: white;
}
.input-md .text-input-clear-icon{top: 15px;    background-size: 25px;}}

}
