<ion-header>

  <ion-navbar>
    <button ion-button menuToggle ><ion-icon name="menu"></ion-icon></button>
    <ion-title>Saved Ads</ion-title>
  </ion-navbar>
  <div class="progress" *ngIf="API.Gv.G_Running"><div class="indeterminate"></div></div>
</ion-header>

<ion-content >
  <div class="show animated fadeIn" id="my-add">
     <div class="row">
         <div class="col-lg-12">
             <div class="gradient-wrapper item-mb border-none">

                 <div class="category-grid-layout2 gradient-padding">
                     <div class="row">
                       <h3 *ngIf="items.length == 0 && !API.Gv.G_Running" class="NoItemsFound" >No Items Found</h3>
                         <div *ngFor="let item of items;let i=index;">
                           <product [item]="item" [cancelBtn]="true" (OnCancel)="Remove(i,item._id)" ></product>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- <div class="gradient-wrapper mb-60" *ngIf="items_count > PerPage" >  <pagination-controls id="API_paginate" (pageChange)="PageChanged($event)"></pagination-controls> </div> -->
             <div class="row">
               <div  *ngIf="API.Gv.G_Running" class="lds-ring" style="margin: auto;"><div></div><div></div><div></div><div></div></div>
               <button *ngIf="!API.Gv.G_Running && items.length < items_count && items.length != 0" ion-button block large (click)="More()">More </button>
               <p *ngIf="!API.Gv.G_Running && items.length == items_count && items.length > 0"  class="NoItemsFound"> Ads End </p>
             </div>
        </div>
     </div>
  </div>
</ion-content>
